<mat-toolbar  color="primary">
  <span>
    <a routerLink="/">Property List</a>
  </span>
  <span class="spacer"></span>
  <ul>
   <li>
    <a mat-raised-button routerLinkActive="mat-accent" routerLink="create" id="Add">Add Property</a>
  </li>
</ul>
</mat-toolbar>

<!-- [dataSource]='dataSource' -->
<div>
<table >
    <thead>
      <tr>
        <th>PropertyName</th>
        <th>PropertyDescription</th>
        <th>PropertySize</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tr *ngFor="let prop of service.property">
      <td>{{prop.propertyName}}</td>
      <td>{{prop.propertyDescription}}</td>
      <td>{{prop.propertySize}}</td>
      <td><button (click)=" Delete(prop._id)">Delete</button></td>
    </tr>
</table>
</div>

